<!DOCTYPE html>
<html>
    <head>
        <title>{$blocks.title || ''}</title>

        {$blocks.meta || ''}

        {foreach $build.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].styles}
                <link rel="stylesheet" href="{$build.prefix}/{$bundleResult[$bundle].styles}">
            {/if}
        {/foreach}
        {foreach $theme.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].styles}
                <link rel="stylesheet" href="{$build.prefix}/{$bundleResult[$bundle].styles}">
            {/if}
        {/foreach}

        {foreach $theme.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].svg}
                <script data-src="{$build.prefix}/{$bundleResult[$bundle].svg}">
                    var ajax = new XMLHttpRequest();
                    ajax.open("GET", '{$build.prefix}/{$bundleResult[$bundle].svg}', true);
                    ajax.send();
                    ajax.onload = function() {
                        var div = document.createElement("div");
                        div.innerHTML = ajax.responseText;
                        div.style.display = 'none';
                        document.body.insertBefore(div, document.body.childNodes[0]);
                    }
                </script>
            {/if}
        {/foreach}
    </head>
    <body>
        <div id="all">
            <div id="main-block" data-block="main">
                {$blocks.main || ''}
            </div>
        </div>

        <script src="{$build.prefix}/{$bundleResult.runtime.js}"></script>
        {foreach $theme.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].js}
                <script src="{$build.prefix}/{$bundleResult[$bundle].js}"></script>
            {/if}
        {/foreach}
        {foreach $build.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].js}
                <script src="{$build.prefix}/{$bundleResult[$bundle].js}"></script>
            {/if}
        {/foreach}
        <script>
            start()
        </script>
        <div id="init-block" data-block="init">
            <script>
                {$blocks.init || ''}
            </script>
        </div>
        {foreach $build.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].templates}
                <script src="{$build.prefix}/{$bundleResult[$bundle].templates}"></script>
            {/if}
        {/foreach}
        {foreach $theme.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].templates}
                <script src="{$build.prefix}/{$bundleResult[$bundle].templates}"></script>
            {/if}
        {/foreach}
        <script src="{$build.prefix}/{$bundleResult.modules.js}"></script>
    </body>
</html>