<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="all">
            <div id="main-block" data-block="main">
                {$blocks.main}
            </div>
        </div>

        <script src="{$build.prefix}/{$bundleResult.runtime.js}"></script>
        {foreach $build.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].js}
                <script src="{$build.prefix}/{$bundleResult[$bundle].js}"></script>
            {/if}
        {/foreach}
        {foreach $theme.bundles as $bundle=>$files}
            {if $bundleResult[$bundle].js}
                <script src="{$build.prefix}/{$bundleResult[$bundle].js}"></script>
            {/if}
        {/foreach}
        <script>
            start()
        </script>
    </body>
</html>