<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/build/{$static.css.vendor}">
        <link rel="stylesheet" href="/build/{$static.css.origin}">
    </head>
    <body>
        <div id="all">
            <div id="main-block" data-block="main">
                {$blocks.main}
            </div>
        </div>

        <script src="/build/{$static.js.vendor}"></script>
        <script src="/build/{$static.js.origin}"></script>
        <script src="/build/{$static.templates}"></script>
    </body>
</html>