<script>
    window['//configuration/routes'] = {
        '../../tests-client/common/routers/test': {
            '/page:number': 'page'
        }
    };
    window['//configuration/i18n'] = {
        sourceLanguage: 'ru',
        currentLanguage: 'ru',
        loadSection(section, lang) {
            let dictionary = {
                'ru': {
                    'page1': {
                        'wm plurals': ['арбуз', 'арбуза', 'арбузов'],
                        'первая страница': 'первая страница'
                    }
                },
                'en': {
                    'page1': {
                        'wm plurals': ['watermelon', 'watermelons', 'watermelons'],
                        'первая страница': 'first page'
                    }
                }
            };
            return dictionary[lang][section]
        }
    }
</script>

<h1>{translate section="page1" phrase="первая страница"}</h1>
<h1>{translate section="page1" phrase="первая страница" language="en"}</h1>
<table class="plurals">
    {$wmp = {translate section='page1' phrase='wm plurals'}}
    <tr>
        <td>{pluralize count="1" one="{$wmp[0]}" few="{$wmp[1]}" many="{$wmp[2]}"}</td>
        <td>{$wmp[0]}</td>
    </tr>
    <tr>
        <td>{pluralize count="2" one="{$wmp[0]}" few="{$wmp[1]}" many="{$wmp[2]}"}</td>
        <td>{$wmp[1]}</td>
    </tr>
    <tr>
        <td>{pluralize count="12" one="{$wmp[0]}" few="{$wmp[1]}" many="{$wmp[2]}"}</td>
        <td>{$wmp[2]}</td>
    </tr>
</table>
<table class="plurals">
    {$wmp = {translate section='page1' phrase='wm plurals' language="en"}}
    <tr>
        <td>{pluralize count="1" one="{$wmp[0]}" few="{$wmp[1]}" many="{$wmp[2]}"}</td>
        <td>{$wmp[0]}</td>
    </tr>
    <tr>
        <td>{pluralize count="2" one="{$wmp[0]}" few="{$wmp[1]}" many="{$wmp[2]}"}</td>
        <td>{$wmp[1]}</td>
    </tr>
    <tr>
        <td>{pluralize count="12" one="{$wmp[0]}" few="{$wmp[1]}" many="{$wmp[2]}"}</td>
        <td>{$wmp[2]}</td>
    </tr>
</table>
<br>
{include file='action-button.tpl.html'}
<br>
<br>
<a href="/page2">go to page2</a>