.data
    position absolute
    left 350px
    top 10px

    &__table
        margin-top 10px

        table
            border-collapse collapse
            border-spacing 0

        td, th
            padding 3px 10px
            border-right 1px solid $greyLight
            margin 0
            border-bottom 1px solid $greyLight

            &:last-of-type
                border-right none

        tr
            margin 0
            padding 0