.data
    position absolute
    left 350px
    top 10px

    &__form
        margin-top 15px

    &__table
        margin-top 10px

        table
            border-collapse collapse
            border-spacing 0

        td, th
            padding 3px 10px
            border-right 1px solid $greyLight
            margin 0
            border-bottom 1px solid $greyLight

            &:last-of-type
                border-right none

        tr
            margin 0
            padding 0

.album
    position absolute
    left 900px
    top 20px

    &__previews
        display flex
        flex-wrap wrap
        border 1px dashed $black
        margin-top 10px
        margin-right 10px
        min-height 50px

    &__input
        margin-top 5px